<nav>
    <div class="site-title">
      <a href="/"><h1>Quotes</h1></a>
      <p>A Quote Site</p>
    </div>
    <ul>
      <li><a href="/">Quotes</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/quotes/create">New Quote</a></li>
    </ul>
  </nav>